.tweetbox {
  border:4px solid #545149;
  width: 100%;
  height: 12.5em;
  transition-duration: 0.4s;
}

.tweetbox:hover {
  box-shadow: 0.3125em 0.3125em grey;
}

.date-time {
  font-size: 1rem;
  margin-left: 1.5em;
}

.handler-text {
  float: right;
  margin-right: 1em;
  opacity: 20%;
  
}

.main-text {
  position: relative;
  margin-top: 3.4375em;
  margin-bottom: 0.625em;
  margin-left: 1em;
}

.name {
  display: inline-block;
}

.header-img {
  float: left;  
  vertical-align: top;
  height: 4.375em;
  margin-bottom: 1.25em;
  margin-top: 0.625em;
}

.footer-line {
  border-bottom: 0.1875em solid #545149;
  margin-left: 1em;
  margin-right: 1em;
}

.icons {
  height: 1.25em;
}

.icon-div {
  float: right;
  margin-right: .8em;
  margin-top: -1em;
  padding-right: .2em;
}

