.tweetbox {
  border:3px solid #2196F3;
  width: 100%;
  transition-duration: 0.4s;
  margin-bottom: 2em;
}

.tweetbox:hover {
  box-shadow: 0.2em 0.2em #BBDEFB;
}

.date-time {
  font-size: 1rem;
  margin-left: 1.5em;
}

.handler-text {
  float: right;
  margin-right: 1em;
  opacity: 20%;
  
}

.main-text {
  position: relative;
  margin-top: 2.5em;
  margin-bottom: 0.625em;
  margin-left: 1em;
}

.name {
  margin-left: 1em;
  display: inline-block;
}

.header-img {
  float: left;  
  vertical-align: top;
  height: 3.5em;
  margin-bottom: 1.25em;
  margin-left: 1em;
  margin-top: 0.625em;
}

.footer-line {
  border-bottom: 2px solid #FF9800;
  margin-left: 1em;
  margin-right: 1em;
}

.icons {
  height: 1.25em;
}

.icon-div {
  float: right;
  margin-right: .8em;
  margin-top: -1.5em;
  padding-right: .2em;
}

