.form-submit {
  background: transparent;
  outline: none;
  border: none;
  resize: none;
  border-bottom: 4px solid  #545149;
  text-align: left;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  height: 50px;
}

.tweetbutton {
  background-color: #4056A1;
  float: left;
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 10px;
  transition-duration: 0.4s;
}

input[type="submit"]:hover {
  background-color: #cf9400;
  background-image: url("https://www.transparenttextures.com/patterns/subtlenet.png");
}

.counter {
  float: right;
}

h2 {
text-align: left;
}